<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Player Market Value Predictor.<br>
    <br>
    
    <form action="/predict" method="POST">
        Club : <input type="text" name="club"><br>
        Position : <input type="text" name="position"><br>
        Page_views : <input type="text" name="page_views"><br>
        Fpl_value : <input type="text" name="fpl_value"><br>
        Fpl_sel : <input type="text" name="fpl_sel"><br>
        Fpl_points : <input type="text" name="fpl_points"><br>
        Region : <input type="text" name="region"><br>
        New_foreign : <input type="text" name="new_foreign"><br>
        Age_cat : <input type="text" name="age_cat"><br>
        Big_club : <input type="text" name="big_club"><br>
        New_signing : <input type="text" name="new_signing"><br>
        <br>

        <input type="submit">

</body>
</html>